# Token do Bot do Telegram
TELEGRAM_TOKEN=seu_token_aqui

# Configurações do Banco de Dados
DB_HOST=mysql
DB_DATABASE=telegram_financas_bot
DB_USER=root
DB_PASSWORD=sua_senha_aqui

# Configurações do Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=seu_access_token_aqui
PAYER_EMAIL=seu_email_aqui
RECIPIENT_DISPLAY_NAME=Seu_Nome_Aqui
OWNER_USER_ID=seu_user_id_aqui

# Dados de Suporte
SUPPORT_NAME=Seu_Nome_Aqui
SUPPORT_EMAIL=seu_email_aqui
SUPPORT_PHONE=seu_telefone_aqui
